.container{
  display: flex;
}

.container div{
  border: 10px solid rgb(255, 0, 0);
  margin: 50px;
  padding:10px;
  flex: 1;
}

.content{
  flex: 2;
}
nav{
  padding:5px
}

nav a{
  background-color: blue;
  color:rgb(255, 255, 255);
  margin:0 10px 0 10px;
  width:20%;
  text-align:center;
  flex:1;
  text-align: center;
  padding:10px;
  transition:0.5s;
}

nav a:hover{
    background-color:rgb(255, 0, 0);
    color:rgb(255, 255, 255);
    transition:0.5s;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}
*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid black;
}
.banner{
  background-color:rgb(0, 47, 255);
  color: white;
}

.main {
  font-size: larger;
  color :rgb(255, 255, 255);
}

.footer{
  background-color: red;
  color: white;
}